{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes Eats</title>
        <meta name="description" content="">
        <meta name="author" content="Ellen Marinko">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header>

            <div id = 'header-container'>
                <div id="header-text">
                    <a id="header-link" href="{% url 'news:index' %}">
                        <h1>She {Codes} Eats</h1>
                    </a>
                </div>

                    <div id="cuisine-types">
                        <a class = "navbar" href="{% url 'news:index-all' %}">All </a>
                        {% for x,y in categories %}
                            <a class = "navbar" href="{% url 'news:filtering-cat' %}?cuisine_type={{x}}"> {{x}} </a>
                        {% endfor %}
                    </div>  
                </div>
            {% include './nav.html' %}
        </header>

        <!-- content blocks here -->
        <!-- put template data in block -->
        {% block content %} {% endblock %}
    </body>

    <footer>
        <p>Ellen Marinko © 2020 </p>
        <p>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
    </footer>

</html>
