{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes Eats</title>
        <meta name="description" content="">
        <meta name="author" content="Ellen Marinko">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header>
            <div id="header-text">
                <a id="header-link" href="{% url 'news:index' %}">
                    <h1>She {Codes} Eats</h1>
                </a>
            </div>

                <div class="form-group">
                    {% for x,y in user.Cuisine_CHOICES %}
                        <a href="{% url 'news:filtering-cat' %}?cuisine_type={{x}}"> {{x}} </a>
                    {% endfor %}
                </div>  

            {% include './nav.html' %}
        </header>

        <!-- content blocks here -->
        <!-- put template data in block -->
        {% block content %} {% endblock %}
    </body>
</html>
