@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* body {
    background-color: rgb(240, 239, 239);
} */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

#header-container {
    display: flex;
    flex-direction: column;
}

#cuisine-types{
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-top: 10px;

}

#empreview {
    color: salmon;
}

img {
    filter: grayscale(100%);
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: 'Roboto', sans-serif;
}

a :hover {
    color: salmon;
}

#form-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 80%;
    margin-left: 10px;
}

.form_entry{
    border: 4px solid peachpuff;
    display: flex;
    justify-content: center;
    width: 60%;

}

.form_entry:hover {
    background-color: peachpuff;
    border: 4px solid peachpuff;
  }


#id_pub_date_0, #id_pub_date_1 {
    display: flex;
    flex-direction: row;
    width: 30%;
}

.container-linking{
    display: flex;
    flex-direction: row;
}

#linkcolour{
    white-space: nowrap;
    color: salmon;
    margin-left: 8px;
}

#connect-page-p{
    display: flex;
    flex-direction: row;
}

.submitbutton{
    background-color: white;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
    padding: 5px;
}

.submitbutton:hover{
    background-color: peachpuff;
    transform: scale(1.3);

}



ul li {
    list-style: none; /* Remove default bullets */
    font-family: 'Roboto', sans-serif;

  }
  
  ul li::before {
    content: "\2022";  
    color: peachpuff; 
    font-family: 'Roboto', sans-serif;
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
  }




.Modern.Australian {
    color: salmon;
}
.American {
    color: palevioletred;
}
.Thai {
    color: plum;
}
.Chinese {
    color: pink;
}
.Japanese {
    color: peachpuff;
}
.Indonesian {
    color: palevioletred;
}
.Middle.Eastern {
    color: purple;
}
.Indian {
    color: lightpink;
}

.Italian {
    color: palegreen;
}
.French {
    color: paleturquoise;
}
.American {
    color: lightseagreen;
}

.Moroccan{
    color: olivedrab
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3px;
    background-color: salmon;
    color: white;
    font-size: 0.7em;    
    margin-top: 100px;
    flex-basis: 80%;
    width: 100%;

}

footer a {
    font-size: 0.7em;
    color: white;
}
/* 

#buttontest button {
  background-image: url(static/news/images/heart.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 50px;
  width: 200px;
  border: none;
}

#buttontest button span {
  display: none;
} */



#edit-story-test{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#story-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.editaccount{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 0.8rem;
    padding-top: 80px;
}

.deleteedit:hover{
    color: salmon;
    transform: scale(1.1);

}



#welcomesection{
    margin-top: 30px;
    margin-bottom: 30px;

}


#title-sen{
    margin-top: 20px;
}

.navbar{
    text-transform: uppercase;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
}

.navbar:hover{
    color: salmon;
    transform: scale(1.1);
}




#changepass{
    margin-left: 10px;
    margin-top: 20px;
}



#uppercase-storycard{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 0.8rem;

}