<!-- extend points it to where it is being inserted -->

{% extends "base.html" %} 
{% load static %}

{% block stylesheets %}
<link rel ='stylesheet' type = "text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
    <a href="{% url 'news:newsStory' %}">Hi {{user.username}}! Write a new restaurant review!</a>
    {% else %}
        <a href="{% url 'login' %}">You must be logged in to write a restaurant review</a>
    {% endif %}

    <h2>{{request.GET.cuisine_type}}</h2>

    <div id="all-stories">
        {% if all_stories %}
            {% for story in all_stories %}
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No reviews have been posted for {{request.GET.cuisine_type}} restaurants yet. Time to get eating and report back to us at She Codes Eats.</p>
        {% endif %}
    </div>
{% endblock %}