{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel ='stylesheet' type = "text/css" href="{% static 'news/styles.css' %}">
{% endblock %}
{% block content %}


{% if user.is_authenticated and user == storyForm.author %}
    <div id = "form-container">
        <form method="POST">
            {% csrf_token %}
                <h2>Delete Review: {{storyForm.title}}</h2>
                    <p>Are you sure you want to delete your review "{{storyForm.title}}" ?  This will permanently delete the review for restaurant: {{storyForm.Restaurant}} which was published on {{storyForm.pub_date}}</p>
                    {{ form.as_p }}
            <div class="form-group">
                <button type="submit">Delete Story</button>
            </div>
        </form>
    </div>
{% else %}
    <p>You are not the author of this review.</p>
    <a href="{% url 'news:index' %}">Return to homepage</a >


    
{% endif %}

{% endblock %}
