<!-- extend points it to where it is being inserted -->

{% extends "base.html" %} 
{% load static %}

{% block stylesheets %}
<link rel ='stylesheet' type = "text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
    <div id="welcomesection">
        <p>Hello! Welcome to She {Codes} Eats! </p>
        <p>A place for Perth locals to share their experiences dining out across Western Australia. </p>
        <p>Please share your favourite restaurant dishes, experiences and reccomendations with fellow She {Codes} foodies.</p>
    </div>

    <h2>Latest Reviews</h2>
    <div id="latest-stories">

        {% if latest_stories %}
            {% for story in latest_stories %}
            <!-- looks for template name and sends it story -->
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>
{% endblock %}