{% extends "base.html" %} 
{% load static %}

{% block stylesheets %}
<link rel ='stylesheet' type = "text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h2 class = "{{story.Restaurant}}">{{ story.Restaurant}}</h2>
    <h4></h4><a href="{% url 'news:one_author' story.author%}">By {{ story.author }}</a></h4>
    <h4 class = "{{story.cuisine_type}}">{{ story.cuisine_type}}</h4>
    
    {% if user.is_authenticated and user == story.author %}
        <a href="{% url 'news:editStory' story.pk %}">Edit Story</a>
        <a href="{% url 'news:deleteStory' story.pk %}">Delete Story</a>

    {% endif %}


    <div id="story-content">
        {% if story.image_upload|length > 0 %}
        <img src="{{ story.image_upload }}">
            {% else %}
        <img src="https://picsum.photos/600">
        {% endif %}
        {{ story.content|linebreaks }}
    </div>
</div>
{% endblock %}