{% extends "base.html" %} 
{% load static %}

{% block stylesheets %}
<link rel ='stylesheet' type = "text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<div id="story-wrapper">
<div id="story-heading"> 
    <h2>{{ story.title }}</h2>
</div>

    <div id="story-content">
        {% if story.image_upload|length > 0 %}
        <img src="{{ story.image_upload }}">
            {% else %}
        <img src="https://picsum.photos/600">
        {% endif %}
        <h2>Restaurant: {{story.Restaurant}}</h2>
        <h2>Rating: {{story.Food_rating}} / 5</h2>
        <h2 class = "{{story.cuisine_type}}">{{story.cuisine_type}}</h2>

        {{ story.content|linebreaks }}
        <p>{{ story.pub_date }}</p>
        {% if user.is_authenticated and user == story.author %}
            <a class = "navbar" href="{% url 'news:editStory' story.pk %}">Edit Story</a>
            <a class = "navbar" href="{% url 'news:deleteStory' story.pk %}">Delete Story</a>
        {% endif %}

    </div>
</div>



<div id = "edit-story-test">
    {% if user.is_authenticated %}
    <p></p>
    <p>Was this review helpful? Give it a like!</p>

    <form action="{% url 'news:like-post' story.pk %}" method="POST">
        {% csrf_token %}
        <button class = "submitbutton" type="submit",name="post_id",value="{{story.id}}">Like - {{story.total_likes}}</button>
    </form>
    {% endif %}    
    <p>Do you see what other reviews this author has contributed?</p>
    <a class = "navbar" href="{% url 'news:one_author' story.author%}">Profile: {{ story.author }}</a>

</div>



{% endblock %}